html {
  font-family: sans-serif;
  font-size: 10px;
}

/* Your CSS below here */

body {
  display: flex;
  margin: 10px auto;

  width: 90%;
  height: 40em;
  max-width: 900px;
}

div {
  width: 200px;
  height: 100px;

  /* display options to centralize */
  display: flex;
  justify-content: center;
  align-items: center;

  /* centralizes inside the body */
  /* margin: auto; */

  border: 1px rgb(161, 77, 17) solid;
  
  /* I've set the html font size to 10px */
  font-size: 1.8rem; 
 
  /* the next property became unnecessary due to the display options */
  /* text-align: center; */

  color: yellow;
  text-shadow: 2px 2px 2px black;
  border-radius: 5px;

  box-shadow: 
    1px 1px .2em black,
    inset 2px 2px .1em rgba(255, 255, 255, 0.4), 
    inset -2px -2px .1em rgba(0, 0, 0, 0.7);

  background: rgb(0, 0, 255);
  background: 
    linear-gradient(135deg, rgba(0,0,0,0.2) 30%, rgba(0,0,0,1) 100%) center center / 400px 200px no-repeat rgb(0, 0, 255);
}